<p id="notice"><%= notice %></p>

<p>
  <strong>Nama :</strong>
  <%= @receiver.nama %>
</p>

<p>
  <strong>Jenis Kelamin :</strong>
  <%= @receiver.jenis_kelamin %>
</p>

<p>
  <strong>Tanggal Lahir :</strong>
  <%= @receiver.tanggal_lahir %>
</p>

<p>
  <strong>Alamat :</strong>
  <%= @receiver.alamat %>
</p>

<p>
  <strong>Status :</strong>
  <%= @receiver.status %>
</p>


<%= link_to 'Back', receivers_path %>
