<h1>List Donator</h1>

<table>
  <tr>
    <th>Nama</th>
    <th>Jenis Kelamin</th>
    <th>Alamat</th>
    <th>Kontak</th>
    <th colspan="4"></th>
  </tr>
 
  <% @donators.each do |donator| %>
    <tr>
      <td><%= donator.nama %></td>
      <td><%= donator.jenis_kelamin %></td>
      <td><%= donator.alamat %></td>
      <td><%= donator.kontak %></td>
      <td><%= link_to 'Show', donator_path(donator) %></td>
      <td><%= link_to 'Edit', edit_donator_path(donator) %></td>
      <td><%= link_to 'Destroy', donator_path(donator), method: :delete, data: {confirm: "Are you sure ? "} %></td>
    </tr>
  <% end %>

  <%= link_to 'Tambah Donator', new_path %>
</table>