<p id="notice"><%= notice %></p>

<p>
  <strong>Nama :</strong>
  <%= @donator.nama %>
</p>

<p>
  <strong>Jenis Kelamin :</strong>
  <%= @donator.jenis_kelamin %>
</p>

<p>
  <strong>Alamat :</strong>
  <%= @donator.alamat %>
</p>

<p>
  <strong>No. Kontak :</strong>
  <%= @donator.kontak %>
</p>


<%= link_to 'Back', new_path %>
